@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
body { font-family: 'Lobster', cursive; margin: 0; padding: 0; }
.full-screen { width: 100vw; min-height: 100vh; }
.flex-center { display: flex; flex-direction: column; justify-content: center; align-items: center; }
.text-xl { font-size: 4rem; }
h1 {
    text-align: center;
    color: white;
    font-family: "Comic Sans MS";
}

h2 {
    text-align: center;
    color: white;
    font-family: "Comic Sans MS";
}

body {
    background-color: cornflowerblue;
}

#container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
}
#videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
}