<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../functions/script.js"></script>
    <title>Mask Mandator</title>
    <h1>Mask Mandator</h1>
</head>
<body>
    <h2>Awaiting QR Code...</h2>
    <div id="container">
        <video autoplay="true" id="videoElement">

        </video>

    </div>
    <script>
        var video = document.querySelector("#videoElement");

        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                    video.srcObject = stream;
                })
                .catch(function (err0r) {
                    console.log("Something went wrong!");
                });
        }
    </script>

</body>
</html>